@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}
:root {
    --color-white: #fff;
    --color-black: #171E2A;
    --color-gray: rgba(255,255,255,.55);
    --color-lines-gray: rgba(23,30,42,0.2);
    --color-lines-lightgray: rgba(23,30,42,0.1);
    --color-main-green: #99CC00;
    --color-main-orange: #FFC000;
    --color-main-blue: #809CCF;
    --color-error: #D50800;

}
body {
    font-family: 'Montserrat';
    font-size: 14px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 0.65em;
}
.h1, h1 {
    font-weight: 700;
    color: var(--color-main-blue);
}
.h5, h5 {
    font-weight: 500;
}
header {
    padding-top: calc(50px + 5rem);
}
.content {
    padding: 0 0 5rem 0;
    min-height: 100vh;
}

section + section {
    margin-top: 5rem;
}


.widget + .widget {
    margin-top: 3em;
}

.copyright-wrap {
    padding: 1em 0;
    text-align: center;
}
.copyright {
    color: var(--color-white);
}
.instinctools {
    color: var(--color-main-blue);
    display: inline-block;
    font-style: italic;
}
.instinctools .red {
    color: red;
}